@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

p{
    font-family: 'Noto Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Noto Sans', sans-serif;
}
a{
    text-decoration: none;
}

.mw-container{
    max-width: 1140px;
}

.bg-second{
    background-color: var(--bs-blue-principal);
    color: var(--bs-white);
}

.box{
    border: 1px solid var(--bs-text);
    border-radius: 10px;
}

.btn-trilhas{
    background-color: var(--bs-yellow-principal);
    color: var(--bs-white);
    text-decoration: none;
    border-radius: 5px;
}

.off_titulo{
    border-bottom: 1px solid var(--bs-yellow-principal);
    max-width: 100%;
}

.sz-200{
    max-width: 250px;
}

.bg-footer{
    background-color: var(--bs-bue-secundario);
    color:var(--bs-text);
    font-family: 'Noto Sans', sans-serif;
}